body {
    background: #9ab3f7; 
        font-family: Helvetica; 
    text-decoration: black;
}
.titolo {
    display: block; 
    margin: auto; 
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px; 
    color: #9ab3f7;}

.immagini{
    display: block; 
    margin: auto; 
   image-orientation: center; 
    padding-top: 30px; 
    font-size: 35px; }
   
#colazionimondo {
    float: left;
    padding-left: 38%;
    margin-top: 0,7 px;
    color: #a5a5a5;
}
#italia {
    float: left;
    padding-left: 5px;
    margin-top: 25px;
    color: #a5a5a5;
}
#laclassica {
    float: left;
    padding-left: 5px;
    margin-top: 40px;
    color: #ffffff;
}
#colazioneitaliana {
    display: block; width: 50%; margin: auto;
}
image {
    max-width: 100%;
    max-height: 100%;
}

header{
    max-width: 1000px;
    background: aliceblue;
    margin: auto;
}

main{
    max-width: 1000px;
    background: rgb(42, 97, 165);
    margin: auto;
    text-decoration-color: antiquewhite; 
}

main h2.altro-titolo{
    color: beige;
}

footer{
    max-width: 1200px;
    background: rgb(42, 97, 255);
    margin: auto;
    text-decoration: antiquewhite;
}