body {
    font-family: sans-serif;
    background-color: aqua;
}

header{
    max-width: 1200px;
    background-color: aliceblue;
    margin: auto;
}
main{
    max-width: 1200px;
    background-color: brown;
    margin: auto;
}

main h2.altro-titolo{
    color: beige;
}

footer{
    max-width: 1200px;
    background-color: blue;
    margin: auto;
}