body {
    font-family: sans-serif;
    background-color: aqua;
}


text{
    color: antiquewhite;
}
header{
    max-width: 1000px;
    background-color: aliceblue;
    margin: auto;
}
main{
    max-width: 1000px;
    background-color: brown;
    margin: auto;
    text-decoration-color: antiquewhite;
    img 
}
image{
    max-width: 100%;
}

main h2.altro-titolo{
    color: beige;
}

footer{
    max-width: 1200px;
    background-color: rgb(79, 79, 255);
    margin: auto;
}